h1{
 text-align: start;
}
.home{
        background-color:lightslategray;
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;
        flex-grow: inherit;
        justify-content: space-evenly;
    }
    .home li{
        display: inline-block;
        font-size: 20px;
        padding: 20px;
        
    }